
html {
	box-sizing:border-box;
}

* {
	padding:0;
	margin:0;
	box-sizing:inherit;
}

body {
	background-image: linear-gradient(to bottom,#afcffe,#fff);
	font-family: Helvetica, Arial, 'sans-serif';
}

h1,h2,h3,h4,h5,h6 { 
	text-align:center; 
}

.selected {
	background: #444;
}

button {
	background: transparent;
	border:none;
	cursor:pointer;
	padding:5px;
	font-weight:bold;
	font-size:14px;
	color:white;
	border-radius:4px;
}

canvas {
	margin:auto; 
	display:block;
	margin-top:50px; 
	background-color:white;
}

.chordline {
	font-weight:bold;
	font-family:'Lucida Console', monospace;
	white-space:pre;
}

.tabline {
	font-family:'Lucida Console', monospace;
	line-height:100%;
	white-space:pre;
}

#song {
	font-size:12px;
	padding:0px;
	white-space:pre;
	font-family:'Lucida Console', monospace;
	border:solid 1px green;
	position: relative;
}

.col {
	width:50%;
	margin:0;
	position:absolute;
	border:solid 1px red;
	top:0px;
}

.second-col {
	left:50%;
}

input[name="columns"],input[name="renderer"] {
	display:inline-block;
	margin-left:20px;
}

#song h3 {
	font-size:18px;
	margin-bottom:10px;
}

#layout h4 {
	margin-top:20px;
	margin-bottom:10px;
}

.popup { 
	display:none;
	font-size:14px;
	text-shadow:0px 1px 1px white;
	position:fixed;
	left:50%;
	top:50%;
	background: #fafafa;
	box-shadow: #333 0px 0px 3px;
	border-radius:4px;
	border:solid 1px grey;
	padding:10px;
	width:650px;
	margin-left:-325px;
}

.popup h4 {
	font-size:16px;
	text-align:left;
	color:#333;
}

.popup p {
	margin-bottom:10px;
}

#social-media {
	margin-left:50px;
	margin-top:20px;
	text-align:center;
}

#social-media iframe, #social-media div {
	display:inline;
	height:35px !important;
}

#fb-root {
	display:inline;
}

#chord-settings h4 {
	margin-bottom:4px;
	text-align:left;
}

.slider {
	margin-bottom:10px;
}


#inner-menu { width: 830px; margin:auto; }


#menu {
	text-align:center;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#222;
	background: linear-gradient(#444, #111);
	height:30px;
}

#inner-menu {
	position:relative;
	height:30px;
}

#inner-menu a {
	color:white;
	text-decoration: none;
	font-weight: bold;
	display:inline-block;
	padding:3px 5px;
	margin:0px;
	height:24px;
	line-height: 24px;
}

#inner-menu a:hover {
	color:#ddd;
}

#nav-buttons {
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
}

#action-buttons {
	position:absolute;
	right:0px;
	top:0px;
}

#source { 
	background:white;
	width:93%;
	margin:auto;
	padding:10px;
	display:none;
	outline:none;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size:14px;
}

#my-sheets {
	width:500px;
	height:500px;
}

#sheet {
	width:840px;
	height:1188px;
	border-radius:5px;
	background-color:white;
	border:solid 1px #333;
	box-shadow:0px 0px 2px #333;
	margin:auto;
	margin-bottom:40px;
	margin-top:60px;
	padding:0;
}
	

#paper-page {
	box-sizing:border-box;
	border:solid 1px purple;
	margin:auto;
	height:93%;
	width:90%;
	margin-top:5%;
}

#sheet h3 {
	text-align:left;
	font-size:16px;
}

#chords {
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
}

.song-part {
	border:solid 0px black;
	-webkit-break-inside:avoid;
	-moz-break-inside:avoid;
	break-inside:avoid;
	page-break-inside:avoid;
}

#about a {
	text-shadow:none;
	font-weight:bold;
}


@media print
{
	#menu, #source {display:none;}
	#sheet, #paper-page { width:200mm; height:287mm; margin-top:0px;}
}


