
iframe, textarea {
	width:100%;
	height:100%;
}

#source-col, #render-col {
	min-height:500px;
}

#source-sheet, #rendered-sheet {
	height:498px;
}

#source-sheet {
	padding:3px;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size:11px;
}