<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
            <mimeMap fileExtension=".cache" mimeType="text/cache-manifest" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="chordsheet.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
